/* cityucake-home.css October 2018 by wyn */

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}

body{
background-color:#FFE4E1;
}

/*the cityu's cake logo, title overlaps the image*/
#logoimage{
  position:absolute;/* position1 */
    top: 10px;
    left:55%;
  z-index: -1;
  width:250px;
}


.card-1{
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}/* CSS3 technique box shadow */


h1{
  color: red;
  font-size:50px;
  font-family:Comic Sans MS;
  text-align:center;
  transform:rotate(-9deg);/* CSS3 technique transform */
  text-shadow:1px 1px 0 #444;

}


.logo{

  width: 60%;

  border-radius: 25px;/* CSS3 technique round corner */

}

.column{
    float: right;
    padding: 50px;
}


/*navigation menu, float, dropdown, hover and so on*/

.img-viewlist{
  position:relative;/* position2 */
  top:50px;
  width: 50%;
}

.img-hover:hover{
  opacity:0.60
}

.viewlist{
    width: 20%;
    position:relative;/* position3 */
    display:inline-block;
}

.viewlist-content{
  display: none;
  width:80%;
  text-align:left;
  border:2px;
  white-space:pre-line;
  float:none;
  outline:0;
  cursor:auto;
  color:#000;
  background-color:#FFC0CB;
  position:absolute;/* position4 */
  min-width:6px;
  margin:0;
  padding:2px;
  z-index:1;
}

.viewlist:hover .viewlist-content {
    display: block;
}

.menu li:hover {
    background-color: #DB7093;
    padding: 3px;
    color: red;
}

/*tidy look*/
.center{
  margin: auto;
  text-align: center;
}

.space{
  padding:20px;
}

/*print invoice*/
#invoice{
  width: 400px;
}
/*small table of order iterms*/
table{
  width: 100%;
  border-collapse:collapse;
  border-spacing:5px;
  border:0.5px solid;
}
thead{
  font-weight: bold;
}

tfoot{
  font-weight: bold;
}

.table-odd tbody tr:nth-child(odd){
  background-color:#FFC0CB;
}
.table-odd tbody tr:nth-child(even){
  background-color:#FFF1E1;
}

/*footer block*/
#grad{
    background-color: #FFE4E1;
    background-image: linear-gradient(#FFE4E1,PINK);
}/* CSS3 technique gradient */

.unbr{

  width: 400px;
  line-height: 20px;
}

.unbr a{
  margin:0 8px;
  white-space: nowrap;
}

.unbr a:hover{
  background-color: #DB7093;
  padding: 1px;
}
